<h3> <%= @station.name %> </h3>
<ul>
  <li>Latitude: <%= @station.latitude %> </li>
  <li>Longitude: <%= @station.longitude %> </li>
  <li>Bikes available: <%= @station.availableBikes %> </li>
  <li>Docks available: <%= @station.availableDocks %> </li>
</ul>
<br>
<a href="/stations/<%=@station.id%>/edit" class="btn"> Edit </a><br>
<a href="/stations/<%=@station.id%>/delete" class="btn"> Delete </a>



